<app-menu></app-menu>
<!--<form action="action_page.php">-->
<!--  <div class="container">-->
<!--    <h1>Login</h1>-->
<!--    <p>Please fill in this form to sign in an account.</p>-->
<!--    <hr>-->

<!--    <label for="email"><b>Email</b></label>-->
<!--    <input type="text" placeholder="Enter Email" name="email" required>-->

<!--    <label for="psw"><b>Password</b></label>-->
<!--    <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--    <hr>-->

<!--    <button type="submit" class="loginbtn">Login</button>-->
<!--  </div>-->

<!--</form>-->
